* {
  margin: 0;
  padding: 0;
}

.notes-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 1px solid black; */
  height: 100%;
  gap: 1rem;
  padding-top: 1rem;
}
.notes-container > div:not(1) {
  padding-top: 0.5rem;
}
.add-notes {
  display: flex;
  justify-content: space-between;
}

.notes {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.grey-bg {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: #b2b2b2;
  border-radius: 5px;
}
.eee-bg {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: #eee;
  border-radius: 5px;
}
.title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.delete-notes,
.add-notes {
  display: flex;
  align-items: center;
  padding-right: 0.3rem;
}
.date-now {
  padding-bottom: 1rem;
}
